.field--name-comment-body  textarea:focus {
  background: var(--background-textarea);
  outline: none;
  border-color: var(--font-color);
}

/* Hiden the subject of comments full view */
.field--name-subject {
  display: none;
}

/* Hiden the explanation about comments full view */
.field--name-comment-body .js-filter-wrapper {
  display: none;
}

/* Hiden the count comments. */
.comments__count {
  display: none;
}

/* Hiden the comment label */
.js-form-type-textarea label {
  display: none;
}

/* Defines font size of comments full view */
.comment__time,
.comment-edit {
  margin-bottom: unset;
  margin-top: unset;
  margin-bottom: unset;
  margin-block-start: unset;
}

.comment__time,
.comment-edit,
.reply-text,
.username-info {
  font-size: 12px;
}

.comment-footer .comment-edit,
.comment-footer .comment__time,
.comments-manage-links {
  display: none;
}

.comment__author,
.comment__time {
  display: block;
}

.comment-footer {
  padding-top: 20px;
}

.comments-more {
  cursor: pointer;
}

/* Style to put the submit button side of comment field */
.comment-form {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* gap: 0.5rem; */
}

/* Defines the font-size inside the comments */
.field--name-comment-body p {
  margin-bottom: 0;
  font-size: var(--font-size);
}

/* To style the submit */
.comment-form .form-submit, #edit-cancel {
  /* border: unset;
  background: unset;
  min-height: 1.9rem;
  min-width: 3rem;
  font-size: var(--font-size-mini);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 0.2rem;
  text-decoration: none; */

  background-image: linear-gradient(90deg,var(--dark-color),var(--light-dark-color) 50%,var(--dark-color));
  border: unset;
  height: 40px;
  color: var(--white-color);
  padding: 0 20px;
  cursor: pointer;
  font-family: 'Inter-Regular';
  font-size: 16px;
  background-size: 200% auto;
  transition: all 225ms ease-in-out;
  margin-bottom: 4px;
}


.comment-form .form-submit:hover, #edit-cancel:hover {
  background-position: 100%;
  box-shadow: #ffffff26 0px 0px 8px 0px;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}

/* Apply styles to the textarea inside your form */
form.comment-form textarea {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* Apply styles to all textareas inside your form */
form.comment-form .form-textarea {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0.71rem;
  min-height: 40px;
  min-width: 320px;
  border: 1px solid #c9c9c9;
}

/* Align comments and img full view */
article.comment {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 0;
}

/* Add margin to distance the comment of links edit and etc */
/* Align edit/reply/delete full view */
.comment-field ul.links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.7rem;
  flex-direction: row-reverse;
  justify-content: start;
  margin-top: 0.1rem;
  font-size: 10px;
  font-family: 'Inter-SemiBold';
}

/* Remove marker from li full view */
.comment-field li {
  list-style: none;
}

/* Remove the underline from a full view */
.comment-field .links a {
  text-decoration: none;
}

/* Remove h3 and Replies word from comment full view */
.comment__content h3,
.show-hide-wrapper  {
  display: none;
}

/* To picture full view */
.comment__picture {
  position: static;
}

/* To picture full view */
.comment__picture img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #0000003d;
}

/* To reply comments */
/* Add class only if the indented is not herself child. */
.indented:not(.indented *),
article + .parent-comment-info:not(.indented *) { /* To first reply */
  /* add your styles here */
  margin-inline-start: 2.5rem;
}

/* Remove the padding top from comment to keep the reply details close */
.indented:not(.indented *) article {
  padding-top: unset;
}

.indented > article:last-child {
  padding-bottom: 2rem;
}

/* Padding to each new comments. */
/* article.comment--level-1 {
  padding-top: 1rem;
} */

/* Reply details styles */
.parent-comment-info {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-mini);
}

/* Set different style to user reply comment and limit the size */
.username-info {
  margin-left: 0.2rem;
  font-weight: 600;
  /* Hide any overflow beyond one line */
  overflow: Hiden;
  /* Ensure text doesn't wrap to a second line */
  white-space: nowrap;
  /* Add ellipsis to indicate truncated text */
  text-overflow: ellipsis;
  max-width: 50%;
}

/* Set top to comments section */
.comments__title {
  margin: 1.5rem 0;
  justify-content: center;
  font-size: 1.25rem;
}

/* Set padding to commend to comments */
.path-node .field__item p:first-of-type {
  padding-top: 0.5rem;
}

.path-node .field__item p:last-of-type {
  padding-bottom: 0.5rem;
}

.path-node .field__item p:only-of-type {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


/*
*
* Delete comments form styles
*
*/

.path-comment #edit-actions {
  display: flex;
  gap: 0.6rem;
  padding: 1.6rem 0;
}

.path-comment #edit-submit, .path-comment #edit-cancel {
  width: 50%;
}

.path-comment .comment-comment-delete-form,
.path-comment .breadcrumb__link,
.path-comment .comment_edit {
  font-size: var(--font-size);
  text-decoration: none;
}


.path-comment .breadcrumb__list li:first-child,
.path-comment #block-yes-pet-app-primary-local-tasks, .div-invisible {
  display: none;
}

.path-comment #block-yes-pet-app-breadcrumbs nav.breadcrumb {
  margin: 0;
}

.path-comment #block-yes-pet-app-breadcrumbs .breadcrumb__content ol {
  padding: 0;
}

.comment__author {
  margin-bottom: 0;
}

.comment__text-wrapper .comments_like > div:first-child > div:first-child {
  display: none;
} 

.comment__text-wrapper .comments_like .like_dislike {
  justify-content: start;
  margin-top: 25px;
  margin-left: -22px;
}

.comment__text-wrapper {
  margin-top: -1.5px;
}


.comment_body > div p:first-child {
  padding-top: 0.5rem;
  margin-bottom: unset;
}

