/* @import url('definitions.css'); */

.path-frontpage #block-darkgpt-content [class^="js-view-dom-id-"],
.path-frontpage #block-darkgpt-content .contextual-region {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

.feed-icon {
  display: none;
}

.title-cards {
  text-align: center;
}

.title-cards h1 {
  margin: 0;
}

@media screen and (min-width: 220px) and (max-width: 519px) {
  .title-cards h1 {
    margin-bottom: unset;
    text-align: start;
    padding-bottom: 0.7rem;
  }
}

.frontpage-result-thumbnail {
  width: 250px;
  background-color: var(--light-dark-color);
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0.5px 0.5px 0.5px var(--deep-dark-box-shadow);
  transition: box-shadow 0.3s ease;
  /* border-radius: 10px; */
}

.path-search .search-result-thumbnail {
  box-shadow: 0.5px 0.5px 0.5px var(--deep-dark-box-shadow);
  transition: box-shadow 0.3s ease;
}

.frontpage-result-thumbnail:hover {
  box-shadow: 4px 4px 4px var(--deep-dark-box-shadow);
}

.teaser-tag-group {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
  flex-wrap: wrap;
}
