@font-face {
  font-family: Inter-ExtraLight;
  src:
    local('Inter'),
    url("./fonts_files/Inter/Inter-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter-Light;
  src:
    local('Inter'),
    url("./fonts_files/Inter/Inter-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter-Regular;
  src:
    local('Inter'),
    url("./fonts_files/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter-SemiBold;
  src:
    local('Inter'),
    url("./fonts_files/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter-Medium;
  src:
    local('Inter'),
    url("./fonts_files/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter-Bold;
  src:
    local('Inter'),
    url("./fonts_files/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter-ExtraBold;
  src:
    local('Inter'),
    url("./fonts_files/Inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Switzer-Bold;
  src:
    local('Switzer Bold'),
    url("./fonts_files/Switzer/Switzer-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Switzer-Light;
  src:
    local('Switzer Bold'),
    url("./fonts_files/Switzer/Switzer-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: BrasiliaDelight-Regular;
  src:
    local('BrasiliaDelight-Regular'),
    url("./fonts_files/brasilia-delight14/BrasiliaDelight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  scroll-behavior: smooth;
  --dark-blue: #0a121b;
  --white-color: #fff;
  --dark-color: #000;
  --light-dark-color: #141414;
  --medium-dark-color: #181818;
  --medium-gray-color: #7f7c7c;
  --pager-fg-color: #55565b;
}

body {
  font-family: Inter-Regular;
  background-color: var(--white-color);
  color: var(--medium-dark-color);
  margin: 0;
}

/* Admin edit btn */
.contextual .trigger:hover,
.contextual .trigger {
  background-color: var(--dark-color);
}

::selection {
  background-color: var(--dark-color);
  color: var(--white-color);
}

h2 {
  font-size: 20px;
}

.like_dislike .fa-thumbs-up {
  text-decoration: unset;
  font-size: 24px;
  color: #fff;
}

.content-like > div:first-child > :first-child {
  display: none;
}

.content-like {
  width: 100px;
  border: 1px solid #03a0cd;
  color: #fff;
  font-weight: bold;
  padding: 14px 25px 5px 0;
  border-radius: 2px;
  margin-top: 20px;
  /* box-shadow: 0px 0px 2px 2px #38dfd3; */
  transition: all 0.5s ease;
}

.content-like:hover {
  box-shadow: 0px 0px 1px 1px #03a0cd99;
  transition: all 0.5s ease;
}

.like_dislike {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

[id^="like_dislike_status"] {
  text-align: center;
  padding-top: 5px;
  color: #03a0cd;
  padding-left: 25px;
}

span[id^="like-"] {
  color: #03a0cd;
}

.like-animation {
  width: 75px;
}

.like-animated {
  padding-top: 10px;
}

.like_dislike .use-ajax {
  padding-top: 4px;
}

.content-like .ajax-progress {
  display: none;
  /* position: absolute; */
}

.views_node_count span,
.likes_count span {
  font-size: 15px;
}

.comments_count span {
  font-size: 12px;
}

.views_node_count,
.likes_count,
.comments_count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.comments_count span {
  padding-top: 1px;
}

.comments_count span {
  padding-top: 1px;
}

.likes_count span {
  padding-bottom: 2px;
}

