@import url('definitions.css');

.path-node .layout-main-wrapper {
  max-width: 1440px;
}

.layout-main-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 95%;
}

.header-banner {
  background: url(../assets/bkgrd.jpg) no-repeat;
  background-size: contain;
}

@media screen and (min-width: 2560px) {
  .header-banner {
    height: clamp(725px,29vw,832px);
  }
} 

@media screen and (min-width: 1171px) and (max-width: 2559px) {
  .header-banner {
    height: clamp(290px, 28.33vw, 725px);
  }
} 

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .header-banner {
    background: url(../assets/bkgrd1170.jpg) no-repeat;
    height: clamp(279px,36.3vw,725px);
    background-size: contain;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .header-banner {
    background: url(../assets/tablet.jpg) no-repeat;
    height: clamp(120px,38.5vw,296px);
    background-size: contain;
  }
}

.header__inner {
  height: 60px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto 20px 0;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.header-menu {
  position: absolute;
  width: 100%;
}

.flex-header-menu {
  display: flex;
  gap: 3rem;
  width: 95%;
  margin: 0 auto;
}

.primary_menu div:first-child:not([class]),
.secondary_menu div:first-child:not([class]) {
  display: flex;
  gap: 3rem;
}

.primary_menu,
.secondary_menu {
  color: var(--white-color);
}

.primary_menu ul {
  display: none;
  position: absolute;
  z-index: 2;
  margin-block-start: 0;
  margin-block-end: 0;
  border-radius: 5px;
  background-color: var(--dark-color);
  padding-inline-start: 0;
  padding: 20px;
  border-left-color: var(--white-color);
  border-left-style: solid;
  border-left-width: 2px;
}

/* marker hidden */
li {
  list-style-type: none;
}

.primary_menu a {
  text-decoration: unset;
  color: var(--white-color);
  transition: all 0.5s ease;
}

.primary_menu li {
  transition: all 0.5s ease;
}

.primary_menu a:hover,
.primary_menu li:hover {
  font-weight: 600;
  transition: all 0.5s ease;
}

.primary_menu h2 {
  cursor: pointer;
}

/* 
*
* Search styles
*
*/

form#search-block-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-top: 15%; */
  width: clamp(150px, 40vw, 500px);
  margin: 0 auto;
}

form#search-block-form .form-item {
  position: absolute;
  width: clamp(150px, 40vw, 500px);
}

.path-node .search-block-form {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  /* transform: all 0.5s ease; */
}

.path-node .search-block-form .container-inline {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 2560px) {
  .path-node .search-block-form,
  #block-dc-theme-search-form-narrow,
  .path-search .search-form {
    top: calc(clamp(725px,29vw,832px) / 2 - 24.5px);
  }
}

@media screen and (min-width: 1171px) and (max-width: 2559px) {
  .path-node .search-block-form,
  #block-dc-theme-search-form-narrow,
  .path-search .search-form {
    top: calc(clamp(290px, 28.33vw, 725px) / 2 - 24.5px);
  }
} 

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .path-node .search-block-form,
  #block-dc-theme-search-form-narrow,
  .path-search .search-form {
    top: calc(clamp(279px,36.3vw,725px) / 2 - 24.5px);
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .path-node .search-block-form,
  #block-dc-theme-search-form-narrow,
  .path-search .search-form {
    top: calc(clamp(120px,38.5vw,296px) / 2 - 24.5px);
  }
}


#block-dc-theme-search-form-narrow {
  position: absolute;
  left: 0;
  right: 0;
  /* transition: transform 0.3s ease-in-out; */
  /* transform: translateY(1500px); */
}

.path-search .search-results__item,
.path-frontpage .frontpage-results__item {
  width: 300px;
  height: 350px;
  position: relative;
  background: transparent;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.path-search .search-result-thumbnail {
  width: 300px;
  height: 350px;
  position: relative;
}

.path-search .result-item {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.path-search ol {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
}

.path-search .search-label-main,
.path-frontpage .frontpage-label-main {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: start;
  padding: 20px;
}

.path-search .search-label,
.path-frontpage .frontpage-label {
  background: var(--white-color);
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 12px;
  font-family: 'Inter-Bold';
}

.path-search .search-label.article,
.path-frontpage .frontpage-label.article {
  color: green;
}

.path-search .search-label.page,
.path-frontpage .frontpage-label.page {
  color: blue;
}

.path-search .search-title-display,
.path-frontpage .frontpage-title-display {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: linear-gradient(0deg,#000000b8 0.1%, transparent);
  border-radius: 12px;
}

.path-search .search-title,
.path-frontpage .frontpage-title {
  text-align: start;
  width: 100%;
  padding-bottom: 15px;
  color: var(--white-color);
  font-family: Inter-SemiBold;
}

.path-search #edit-help-link {
  display: none;
}

.path-search .search-result-thumbnail img,
.path-frontpage .frontpage-result-thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.path-search .search-result-thumbnail .profile-search-img,
.path-frontpage .frontpage-result-thumbnail .profile-frontpage-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.path-search .search-result-thumbnail .profile-search,
.path-frontpage .frontpage-result-thumbnail .profile-frontpage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  font-family: Inter-Light;
  font-size: 12px;
  color: var(--white-color);
}

.path-search .search-result-thumbnail .owner-search,
.path-frontpage .frontpage-result-thumbnail .owner-frontpage {
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-family: Inter-Light;
  font-size: 12px;
  color: var(--white-color);
}

.path-search .search-result-thumbnail .profile-img-name,
.path-frontpage .frontpage-result-thumbnail .profile-img-name {
  display: flex;
}

.path-search .search-form {
  position: absolute;
  left: 0;
  right: 0;
}

.path-search .container-inline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: clamp(150px,40vw,500px);
  margin: 0 auto;
}

.path-search .container-inline .form-item {
  position: absolute;
  width: clamp(150px,40vw,500px);
}

.path-search .container-inline .form-item label {
  display: none;
}

/* #block-dc-theme-search-form-narrow.show {
  transform: unset;
} */

#search-block-form .form-actions {
  z-index: 2;
}

#search-block-form .form-actions input.form-submit,
.path-search input.form-submit {
  background-image: linear-gradient(90deg,var(--dark-color),var(--light-dark-color) 50%,var(--dark-color));
  border: unset;
  border-radius: 10px;
  height: 40px;
  color: var(--white-color);
  padding: 0 20px;
  cursor: pointer;
  font-family: 'Inter-Regular';
  font-size: 16px;
  background-size: 200% auto;
  transition: all 225ms ease-in-out;
  z-index: 1;
  margin-right: 3px;
}

#search-block-form .form-actions input.form-submit:hover,
.path-search input.form-submit:hover {
  background-position: 100%;
  box-shadow: #ffffff26 0px 0px 8px 0px;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}

input.form-search {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  color: var(--dark-color);
  font-size: 16px;
  border: 1px solid #ffffff70;
  background: var(--white-color);
  cursor: text;
  padding: 10px;
  font-family: 'Inter-Regular';
}

.path-search .block__content h2 {
  color: #060505;
  font-size: 18px;
}

input.form-search:focus {
  border-bottom: 1px solid var(--white-color);
}

/* remove the border outline when focus */
input.form-search:focus-visible {
  outline: none;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none; width : 0; height: 0;
}
input[type=search]::-ms-reveal {
  display: none; width : 0; height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Change the white to any color */
/* Text suggestion on input */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #121212 inset !important;
}

/* Change text in autofill textbox */
input:-webkit-autofill{
  -webkit-text-fill-color: var(--white-color) !important;
}

.block-system-main-block input.form-search {
  width: 100%;
}

/* #block-dc-theme-searchbtn-2:not(:has(.search-ico)) {
  content: url('../assets/init.png');
  width: 36px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 9px;
  margin-right: 8%;
} */

/*
*
* Logo styles
*
*/

.site-branding__logo {
  display: flex;
  align-items: center;
  padding-top: 0.35rem;
}

.logo img {
  height: 32px;
}

/* .inverted__h2 {
  transform: rotateY(180deg);
}

.site-branding__logo,
.logo h2 {
  text-decoration: unset;
  color: var(--white-color);
  letter-spacing: 0.05rem;
  font-size: 21px;
} */
