@import url('definitions.css');

.path-frontpage #block-dc-theme-content [class^="js-view-dom-id-"],
.path-frontpage #block-dc-theme-content .contextual-region {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.feed-icon {
  display: none;
}

.path-frontpage .frontpage-result-thumbnail {
  width: 300px;
  height: 350px;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
