@import url('./definitions.css');

#block-dc-theme-content {
  display: flex;
  justify-content: center;
  max-width: 95%;
  margin: 0 auto;
  word-wrap: break-word;
}

code {
  font-family: 'Inter-ExtraLight';
  text-wrap: wrap;
}

#block-dc-theme-primary-local-tasks ul {
  display: flex;
  gap: 1rem;
  justify-content: end;
  margin: 0;
}

.page-node-type-page .basicpage_header_container {
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  width: 100%;
}

.page-node-type-page .basicpage_header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

@media screen and (min-width: 1171px) {
  .page-node-type-page .basicpage_full_image img {
    width: 100%;
    height: clamp(170px,15vw,350px);
  }
}

@media screen and (max-width: 1170px) {
  .page-node-type-page .basicpage_full_image img {
    width: 100%;
    height: clamp(190px, 19vw, 225px);
  }
}

@media screen and (max-width: 1024px) {
  .page-node-type-page .basicpage_full_image img {
    width: 100%;
    height: clamp(120px, 18vw, 190px);
  }
}

.basicpage_full_body > div:first-child > div:first-child {
  display: none;
}

.page-node-type-page figure {
  margin: 0;
}

.page-node-type-page figcaption {
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 12px;
  text-align: end;
  padding-right: 10px;
}

.page-node-type-page figure img {
  border-radius: 12px;
  margin-top: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-node-type-page pre ::selection {
  background-color: var(--white-color);
  color: #060505;
}

.page-node-type-page .basicpage_full_body {
  color: #060505;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-node-type-page .basicpage_full_body pre {
  background-color: #141414;
  color: var(--white-color);
  padding: 20px 80px 20px 20px;
  position: relative;
  border-radius: 10px;
  margin-top: 5px;
}

.page-node-type-page .basicpage_full_body p {
  margin-block-end: 0
}

.page-node-type-page .basicpage_full_body .btnFromJs {
  background: var(--white-color);
  padding: 10px;
  position: absolute;
  top: 13px;
  right: 13px;
  color: var(--dark-color);
  border-radius: 5px;
  cursor: pointer;
}

.popFromJs {
  top: calc(50% - 32px);
  z-index: 3;
  color: var(--medium-dark-color);
  padding: 15px;
  font-size: 14px;
  position: absolute;
  right: calc(50% + 25px);
}

.popFromJs span {
  background: #fff;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
}

/* @media screen and (min-width: 2560px) {
  .page-node-type-page .basicpage_header_container  {
    height: clamp(725px,29vw,832px);
  }
} 

@media screen and (min-width: 1171px) and (max-width: 2559px) {
  .page-node-type-page .basicpage_header_container  {
    height: clamp(290px, 28.33vw, 725px);
  }
} 

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .page-node-type-page .basicpage_header_container  {
    height: clamp(279px,36.3vw,725px);
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .page-node-type-page .basicpage_header_container  {
    height: clamp(120px,38.5vw,296px);
  }
} */