/* @import url('./definitions.css'); */

.path-node #block-dc-theme-content {
  display: flex;
  justify-content: center;
  max-width: 1170px;
  margin: 0 auto;
  word-wrap: break-word;
  padding-left: 2.5%;
  padding-right: 2.5%;
  transition: all 0.5s ease;
}

.basicpage_full_title h1,
.basicpage_full_title p {
  color: var(--white-color);
}

.basicpage_full_title {
  padding: 20px 20px 20px 0;
  max-width: 500px;
  text-wrap: wrap;
}

code {
  font-family: 'Inter-ExtraLight';
  text-wrap: wrap;
  overflow-wrap: anywhere;
}

#block-dc-theme-primary-local-tasks ul {
  display: flex;
  gap: 1rem;
  justify-content: end;
  margin: 0;
}

.basicpage_header_container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: clamp(250px, calc(250px + (400 - 250) * ((100vw - 320px) / (1440 - 320))), 400px);
  transition: all 0.5s ease;
}

.basicpage_header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 95%;
  height: 100%;
}

@media screen and (max-width: 765px) {
  .basicpage_full_image {
    display: none;
  }
  .basicpage_full_title {
    padding-top: 45px;
  }
}

.full-node-user-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 2px 2px #0000003d;
}

.node-profile-img,
.node-date {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.node-creator p,
.node-last-revision p {
  margin-block-end: unset;
  margin-block-start: unset;
  margin: 0;
  font-size: 12px;
}

.node-author {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #ffffff;
  padding: 20px;
  color: #181818;
  box-shadow: 0 1px 1px 1px #37373721;
}

.basicpage_full_image img {
  border-radius: 2px;
  height: clamp( 150px, calc(150px + (200 - 150) * ((100vw - 766px) / (1440 - 766))), 200px );
  width: clamp( 150px, calc(150px + (200 - 150) * ((100vw - 766px) / (1440 - 766))), 200px );
  object-fit: contain;
}

.basicpage_full_image {
  position: relative;
}

.basicpage_full_image::before {
  position: absolute;
  content: "";
  top: -20px;
  left: 20px;
  right: 0;
  bottom: 0;
  background: #ffffff1a;
  height: 20px;
  width: 100%;
  z-index: 2;
  border-radius: 0 2px 0 0;
}

.basicpage_full_image::after {
  position: absolute;
  content: "";
  top: 0;
  left: clamp(150px,calc(150px + (200 - 150) * ((100vw - 766px) / (1440 - 766))),200px);
  right: 0;
  bottom: 0;
  background: #ffffff1a;
  height: 87%;
  width: 20px;
  z-index: 2;
}


/* @media screen and (min-width: 1171px) {
  .basicpage_full_image img {
    height: clamp(170px,15vw,350px);
  }
}

@media screen and (max-width: 1170px) {
  .basicpage_full_image img {
    height: clamp(190px, 19vw, 225px);
  }
}

@media screen and (max-width: 1024px) {
  .basicpage_full_image img {
    height: clamp(120px, 18vw, 190px);
  }
} */

.content-body > div:first-child {
  max-width: 100%;
  width: 100%;
  transition: all 0.5s ease;
}

.content-body > div:first-child > div:first-child, 
.field-tags  > div:first-child > div:first-child {
  display: none;
}

.field-tags  > div:first-child > div:last-child {
  display: flex;
  gap: 1rem;
}

.field-tags > div:first-child > div:last-child > div {
  height: 40px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  /* box-shadow: 0 0 1px 1px #0000003d; */
  border: 1px solid #03a0cd;
  border-radius: 2px;
  font-size: 14px;
  transition: all 0.5s easy;
}

.field-tags > div:first-child > div:last-child > div:hover {
  box-shadow: 0 0 1px 1px #03a0cd5e;
  transition: all 0.5s easy;
}

.field-tags a {
  text-decoration: unset;
  color: #03a0cd;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 12px;
  text-align: end;
  padding-right: 10px;
}

figure img {
  border-radius: 2px;
  margin-top: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

pre ::selection {
  background-color: var(--white-color);
  color: #060505;
}

.basicpage-full-body {
  color: #060505;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: all 0.5s ease;
}

.basicpage-full-body pre {
  background-color:  var(--light-dark-color);
  color: var(--white-color);
  padding: 20px 80px 20px 20px;
  position: relative;
  /* border-radius: 10px; */
  margin-top: 5px;
}

.code_container {
  background-color: var(--light-dark-color);
  color: var(--white-color);
  padding: 20px;
  position: relative;
  margin-top: 5px;
}

.code_container div,
.code_container span {
  text-wrap: wrap;
  overflow-wrap: anywhere;
  background-color: var(--light-dark-color);
}

@media screen and (max-width: 375px) {
  .code_container,
  .basicpage-full-body pre {
    padding-right: 65px;
    padding-left: 10px;
  }
} 

.basicpage-full-body p {
  margin-block-end: 0
}

.basicpage-full-body .btnFromJs {
  background: var(--white-color);
  padding: 10px;
  position: absolute;
  top: 13px;
  right: 13px;
  color: var(--dark-color);
  /* border-radius: 5px; */
  cursor: pointer;
}

.popFromJs {
  top: calc(50% - 32px);
  z-index: 3;
  color: var(--medium-dark-color);
  padding: 15px;
  font-size: 14px;
  position: absolute;
  right: calc(50% + 25px);
}

.popFromJs span {
  background: var(--white-color);
  padding: 10px;
  position: absolute;
  /* border-radius: 5px; */
}

.field--type-like-dislike {
  display: none;
}

.node-full-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.field-tags {
  margin-top: 20px;
}
