@import url(./definitions.css);

.path-taxonomy {
  /* Styles for the .path-taxonomy container */
  #block-dc-theme-content div[class^="js-view-dom-id-"] {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-top: 3.5rem;
    padding-bottom: 8rem;
    max-width: 1440px;
    margin: 0 auto;
  }

  #header {
    padding-bottom: 2rem;
  }

  #block-dc-theme-content .contextual-region {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    max-width: 1440px;
    margin: 0 auto;
  }

  .frontpage-result-thumbnail {
    width: 300px;
    height: 350px;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0.5px 0.5px 0.5px #000000bf;
    transition: box-shadow 0.3s ease;
  }

  .frontpage-result-thumbnail:hover {
    box-shadow: 4px 4px 4px #000000bf;
  }

  .frontpage-title-display:hover {
    background-image: linear-gradient(0deg,#000000b8 0.1%,transparent);
    transition: all 0.5s ease;
  }

  #main-wrapper {
    max-width: 95%;
    margin: 0 auto;
  }

  .frontpage-label-main {
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: start;
    padding: 20px;
  }

  .frontpage-label {
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 12px;
    font-family: 'Inter-Bold';
  }

  .frontpage-title-display {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: linear-gradient(0deg,#000000 0.1%,#00000021);
    padding: 20px 20px 0 20px;
    transition: all 0.5s ease;
  }

  .frontpage-title {
    text-align: start;
    width: 100%;
    padding-bottom: 15px;
    color: var(--white-color);
    font-family: Inter-SemiBold;
    font-size: 24px;
  }

  .frontpage-result-thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }

  .frontpage-result-thumbnail .profile-frontpage-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .frontpage-result-thumbnail .profile-frontpage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    font-family: Inter-Light;
    font-size: 12px;
    color: var(--white-color);
  }

  .frontpage-result-thumbnail .owner-frontpage {
    /* display: flex;
    align-items: center; */
    padding-left: 5px;
    font-family: Inter-Light;
    font-size: 12px;
    color: var(--white-color);
    max-width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 7.5px;
  }

  .frontpage-result-thumbnail .profile-img-name {
    display: flex;
  }

}
