@font-face {
  font-family: Inter-Regular;
  src:
    url("../fonts/inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  scroll-behavior: smooth;
  --dark-blue: #0a121b;
}

.layout-main-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

body {
  background-color: var(--dark-blue);
  margin: 0;
  font-family: Inter-Regular;
  color: #fff;
}

.site-header__inner {
  height: 60px;
  /* border-bottom: 1px solid #02aab038;*/ /*#02aab0 */
  box-shadow: 0px 4px 4px #00000040;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto 20px 0;
  display: flex;
  align-items: center;
}

h1, h2, h3, span, p {
  margin-block-start: unset;
  margin-block-end: unset;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

.header-nav h2 {
  font-size: 15px;
}

.menu--level-1 {
  display: none;
  position: absolute;
  z-index: 2;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: #0a121b;
  padding-inline-start: 0;
  padding: 20px;
  box-shadow: 0px 10px 10px rgb(0 0 0);
  
}

h2.block__title, #block-dc-theme-searchbtn {
  cursor: pointer;
}

li.menu__item {
  transition: transform 0.2s ease;
  margin-bottom: 10px;
}

li.menu__item:last-child {
  margin-bottom: 0;
}

li.menu__item:hover {
  transition: transform 0.2s ease;
  transform: scale(1.02);
}

.site-header__inner__container, .site-branding__inner, .header-nav {
  display: flex;
  align-items: center;
}

.site-header__inner__container, .header-nav {
  gap: 40px;
}

.site-branding__inner {
  gap: 6px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

a.site-branding__logo img {
  width: 30px;
}

.site-branding__logo {
  padding-top: 5px;
}

.search-block-form, #search-block-form #edit-actions {
  display: none;
}
