@font-face {
  font-family: Inter-Regular;
  src:
    local('Inter Regular'),
    url("./fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Switzer-Bold;
  src:
    local('Switzer Bold'),
    url("./fonts/Switzer/Switzer-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Switzer-Light;
  src:
    local('Switzer Bold'),
    url("./fonts/Switzer/Switzer-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: BrasiliaDelight-Regular;
  src:
    local('BrasiliaDelight-Regular'),
    url("./fonts/brasilia-delight14/BrasiliaDelight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  scroll-behavior: smooth;
  --dark-blue: #0a121b;
}

.layout-main-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

body {
  /* background-color: var(--dark-blue); */
  margin: 0;
  font-family: Switzer-Bold;
  color: #fff;
  background: url('../assets/bkgrd.jpg') no-repeat;
  /* background-position: center top; */
  /* background-size: 100% 100%; */
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed

}

.site-branding__name a {
  display: flex;
  align-items: center;
}

.site-branding__name a::before {
  content: "><";
  font-family: BrasiliaDelight-Regular;
  background: linear-gradient(to bottom,#ffd753,#d04258 50%,#7310a7);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 60px;
  margin-top: -23px;
  letter-spacing: -7px;
  padding-right: 12px;
}

.site-header__inner {
  height: 60px;
  /* border-bottom: 1px solid #02aab038;*/ /*#02aab0 */
  /* box-shadow: 0px 4px 4px #00000040; */
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto 20px 0;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

h1, h2, h3, span, p {
  margin-block-start: unset;
  margin-block-end: unset;
}

h1 {
  font-size: 18px;
}

.page-node-type-page h1 {
  font-size: clamp(1.375rem, 0.0893rem + 2.6786vw, 2.5rem);
  padding-bottom: 10px;
}

.page-node-type-page p {
  font-family: Switzer-Light;
  font-size: clamp(0.75rem, 0.0357rem + 1.4881vw, 1.375rem);
}

h2 {
  font-size: 16px;
}

.header-nav h2 {
  font-size: 17px;
}

.menu--level-1 {
  display: none;
  position: absolute;
  z-index: 2;
  margin-block-start: 16px;
  margin-block-end: 0;
  /* background-color: #0a121b; */
  background-color: #03101e;
  padding-inline-start: 0;
  padding: 20px;
  box-shadow: 0px 10px 10px rgb(0 0 0);
  border-left: 2px solid #d04258;
}

h2.block__title, #block-dc-theme-searchbtn {
  cursor: pointer;
}

.site-header__inner__container, .site-branding__inner, .header-nav {
  display: flex;
  align-items: center;
}

.site-header__inner__container, .header-nav {
  gap: 40px;
}

.site-branding__inner {
  gap: 8px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.site-branding__name a {
  font-size: 17px;
}

a.site-branding__logo img {
  width: 48px;
}

.site-branding__logo {
  padding-top: 5px;
}

.search-block-form, #search-block-form #edit-actions {
  display: none;
}

#block-dc-theme-search-form-narrow {
  position: absolute;
  background-color: #000000f5;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}

form#search-block-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
}

form#search-block-form .form-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-form #edit-submit {
  display: none;
}

input.form-search {
  width: 30%;
  height: 50px;
  border-radius: 0;
  /* background-color: #0a121b; */
  color: #fff;
  font-size: 16px;
  /* border: 1px solid #ffffff70; */
  padding-left: 8px;
  border: unset;
  border-bottom: 1px solid #ffffff70;
  background: unset;
  cursor: text;
}

input.form-search:focus {
  border-bottom: 1px solid #fff;
}

/* remove the border outline when focus */
input.form-search:focus-visible {
  outline: none;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none; width : 0; height: 0;
}
input[type=search]::-ms-reveal {
  display: none; width : 0; height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Change the white to any color */
/* Text suggestion on input */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #a71088 inset !important;
}

/* Change text in autofill textbox */
input:-webkit-autofill{
  -webkit-text-fill-color: #fff !important;
}

.block-system-main-block input.form-search {
  width: 100%;
}

#block-dc-theme-searchbtn:not(:has(.search-ico)) {
  content: url('../assets/init.png');
  width: 36px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 9px;
  margin-right: 8%;
}

#block-dc-theme-contactus {
  background-image: linear-gradient(90deg,#a30b8c,#d04258 50%,#a71088);
  background-size: 200% auto;
  transition: all 225ms ease-in-out;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
}

#block-dc-theme-contactus:hover {
  background-position: 100%;
  background-color: #b51f8f;
}

#block-dc-theme-searchbtn {
  position: absolute;
  right: 0;
  padding-right: 8%;
}

.site-footer {
  padding-top: 200px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px;
}

.page-node-type-page .text_and_image {
  display: flex;
  justify-content: center;
  gap: 4%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

.page-node-type-page .primary-image {
  position: relative;
}

.page-node-type-page .primary-image::before,
.page-node-type-page .primary-image::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 94%;
}

.page-node-type-page .primary-image::before {
  left: -20px;
  top: 0;
  /* background: linear-gradient(to bottom,#a30b8c,#d04258 50%,#a71088); */
  background: #ffffff1c;
  max-width: 395px;
}

.page-node-type-page .primary-image::after {
  left: -20px;
  top: -20px;
  width: calc(96% + 20px);
  height: 20px;
  /* background: linear-gradient(to right,#a30b8c,#d04258 50%,#a71088); */
  background: #ffffff1c;
  max-width: 595px;
}

.page-node-type-page .text_and_image .primary-image img {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 400px;
}

.tabs-wrapper .tabs {
  display: flex;
  justify-content: end;
  padding-bottom: 50px;
  gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

::selection {
  background-color: #000;
}

.page-node-type-page .field--name-field-content-body {
  background: #181818;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.page-node-type-page .field--name-field-content-body pre {
  background-color: #141414;
  width: 100%;
  padding: 20px;
  position: relative;
}

.page-node-type-page .layout-main-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.page-node-type-page .image_parent {
  justify-content: start;
}

.page-node-type-page .text_parent {
  justify-content: end;
}

.page-node-type-page .text_and_image .text_parent,
.page-node-type-page .text_and_image .image_parent {
  display: flex;
  width: 50%;
}

.page-node-type-page .text_and_image .text_parent {
  align-items: center;
}

.page-node-type-page .text_and_image .text_parent .field--name-body {
  margin-top: -30px;
}

.popFromJs {
  bottom: 25px;
  z-index: 3;
  color: #181818;
  padding: 15px;
  font-family: Switzer-Light;
  font-size: 15px;
  position: absolute;
  right: calc(50% + 51px);
}

.popFromJs span {
  background: #fff;
  padding: 10px;
  position: absolute;
}

.btnFromJs {
  background: #fff;
  color: #000;
  padding: 5px;
  top: 10px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

/* .page-node-type-page .field--name-field-content-body pre::before {
  content: "Copy";
  height: 20px;
  background: #fff;
  color: #000;
  padding: 5px;
  position: absolute;
  right: 20px;
  padding-top: 8px;
  cursor: pointer;
} */


.field--name-field-content-body .field__label {
  display: none;
}

.field--name-field-content-body .field__item p {
  font-size: 15px;
} 
