{#
/**
 * @file
 * dc_theme's theme Get Started section.
 *
 * This section is enabled when no front page content has been populated.
 *
 * TODO:
 * - Move this markup into Drupal's core Frontpage Views.
 * - Translate/localize this page for different languages.
 */
#}

<div id="homepage-id">
</div>
